{% extends 'base.html' %} {% block title %}List{% endblock %} {% block content
%}
<div id="logreg-forms">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div class="flash-message {{ category }}">{{ message }}</div>
  {% endfor %} {% endif %} {% endwith %}
  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Sign up</h1>
  <form action="/register" class="form-signup" method="POST">
    <input
      type="text"
      name="firstname"
      class="form-control form-group"
      placeholder="Firstname"
      required=""
      autofocus=""
    />
    <input
      type="text"
      name="lastname"
      class="form-control form-group"
      placeholder="Lastname"
      required
      autofocus=""
    />
    <input
      type="text"
      name="username"
      class="form-control form-group"
      placeholder="Username"
      required
      autofocus=""
    />
    <input
      type="password"
      name="password"
      class="form-control form-group"
      placeholder="Password"
      required
      autofocus=""
    />

    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
    <hr />
    <a href="/login">Back to login</a>
  </form>
</div>
{% endblock %}
