<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Registration</h1>
    <form action="/register" method="POST">
      <h2>Register</h2>
      <input
        type="text"
        name="firstname"
        id="firstname"
        placeholder="firstname"
      />
      <input type="text" name="lastname" placeholder="lastname" />
      <br />
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Submit</button>
    </form>
    <a href="/login">back to login</a>
  </body>
</html>
